{% extends "layouts/main_layout.html" %} {% block children %}
<main class="flex justify-center w-full pt-[15%]">
  <article class="w-full max-w-xl space-y-6">
    <h1 class="text-4xl font-semibold">Inicia sesión</h1>
    <form method="POST" class="space-y-5">
        {% from "macros/field.html" import render_field %}
        {% from "macros/button.html" import render_button %}
        {{ render_field(label="Correo", name="email") }}
        {{ render_field(label="Contraseña", name="password", type="password") }}
        {{ render_button(label="Entrar") }}
    </form>
</main>
{% endblock %}
