<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <title>Hospital</title>
  </head>
  <body class="px-4 md:px-4 lg:px-0">
    {% block children %} {% endblock %}
  </body>
  <div class="toast toast-end">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-warning">
      <script>
        var notyf = new Notyf();
        notyf.error("{{ messages[0] }}");
      </script>
    </div>
    {% endif %} {% endwith %}
  </div>
</html>
